
@this(main: main)

@(playAuth: com.feth.play.module.pa.PlayAuthenticate, user: model.User)

@main("Accounts", playAuth, user) {
    <h1 class="page-header">
        Accounts
        <small>
            <a href="@routes.AccountsController.showAddForm()" class="btn btn-info" role="button">Add</a>
        </small>
    </h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Currency</th>
                    <th>Balance</th>
                    <th>Pattern</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(account <- user.getAccounts) {
                <tr>
                    <td>@account.getId</td>
                    <td>@account.getNumber</td>
                    <td>@account.getTitle</td>
                    <td>@account.getCurrency</td>
                    <td>@account.getBalance</td>
                    <td>@account.getSmsPattern</td>
                    <td><a href="@routes.AccountsController.showEditForm(account.getId)">Edit</a></td>
                    <td><a href="@routes.AccountsController.deleteAccount(account.getId)">Delete</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

