@import model.User
@import model.Account

@import play.data.Form


@(user: User, form: Form[Account])

@implicitFieldConstructor = @{
    b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
}

@main("Accounts", user) {

    @if(flash.containsKey("success")) {

        <div class="well">
            <div id="success-message" class="text-success">
            @flash.get("success")
            </div>
        </div>
    }

    @b3.form(action = routes.AccountsController.saveAccountForm()) {
        @b3.hidden("id", form("id").getValue)
        @b3.text(form("number"), '_label -> "Number")
        @b3.text(form("title"), '_label -> "Title")
        @b3.select(form("currency"), options = Seq("RUB" -> "RUB", "USD" -> "USD", "EUR" -> "EUR"), '_label -> "Currency")
        @b3.text(form("balance"), '_label -> "Ballance")
        @b3.text(form("smsPattern"), '_label -> "SMS pattern")

        @b3.submit('class -> "btn btn-default") { Save }
    }
}

