@*
* This template takes a single argument, a String containing a
* message to display.
*@
@import com.feth.play.module.pa.views.html._
@import model.Transaction
@import model.TransactionType

@(playAuth: com.feth.play.module.pa.PlayAuthenticate, user: model.User)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Transactions", playAuth, user) {
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        @for(account <- user.getAccounts) {
            <li><a href="#">@account.getTitle</a></li>
        }
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Transactions</h1>

        <h2 class="sub-header">All</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Time</th>
                        <th>Direction</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>SMS</th>
                    </tr>
                </thead>
                <tbody>
                    @for(tx <- user.getTransactions) {
                        <tr>
                            <td>@tx.getTransactionId</td>
                            <td>@tx.getAddedTime</td>
                            <td>@tx.getTransactionType</td>
                            <td>@tx.getCategory</td>
                            @if(tx.getTransactionType == TransactionType.TRANSFER) {
                            <td>@tx.getSourceAccount - @tx.getDestAccount</td>
                            <td>@tx.getSourceAccount.getCurrency -> @tx.getDestAccount.getCurrency</td>
                            <td>@tx.getSourceAmount -> @tx.getDestAmount</td>
                            } else {
                            <td>@tx.getSourceAccount</td>
                            <td>@tx.getSourceAmount</td>
                            <td>@tx.getSourceAccount.getCurrency</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

